body {
  margin: 0;
}
.wrapper {
      margin: -41px 195px 0 197px;
 width: auto;
}
.hamburger-menu {
  display: none;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 43px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.header{
  padding:40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.menu{
  display:flex;
  align-items:center;
  margin: 3px 7px 0 0;
}
.menu__item {
  position:relative;
  margin-right: 26px;
  font: 500 18px/21px roboto, arial, helvetica, sans-serif;
  color:#000;
  text-decoration: none;
  transition: opacity .5s, font-size 1.5s;
}
.menu__item:hover{
  opacity: .5;
  font-weight: 700;
  font-size: 150%;
}
.menu__item:after{
  position:absolute;
  display:block;
  content:'';
  left:0;
  width: 100%;
  height:3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover:after, .menu_item_active:after {
  opacity: 1;
}
.menu__item:last-child{
  margin-right:0;
}
.logo__circle {
  position: absolute;
  left: -1px;
  top:49.5%;
  transform: translateY(-50%);
  width:28px;
  height:28px;
  border-radius:50%;
  opacity:.7;
}
.logo__circle_color_blue {
  left: 8px;
  top:56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.main {
  margin: -14px 2px 0px -3px;
  padding: 75px 66% 269px 0;
  background: 100% 4% no-repeat url(img/main-img.svg);
}
.main__title {
  margin: 3px 0 43px 1px;
      font: 700 66px/88px pt_serif, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__text {
  margin: -9px 0 45px 1px;
  font: 600 20px/25px robotoregular, arial, helvetica, sans-serif;
  letter-spacing: 0.88px;
}
.main__button {
  display: inline-block;
      width: 248px;
      height: 29px;
      padding: 18px 0 10px 23px;
      font: bold 16px/21px robotolight, arial, helvetica, sans-serif;
      color: #fff;
      background: #0056EC;
      text-decoration: none;
      border-radius: 4px;
      transition: opacity .5s;
      letter-spacing: 1.15px;
      margin: -1px 0px 0 1px;
}
.main__button:hover {
  opacity: .5;
}
.elipses {
  margin: auto;
  width: 32px;
  height: 8px;
  background:no-repeat url('img/elipses.svg');
}
@media (max-width: 1367px) {
  .wrapper{
    margin:-40px 195px 0 197px;
  }
  .logo{
    padding: 42px 0 42px 44px;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
  top:49%;
}
.logo__circle_color_blue{
  top:55%;
}
  .header {
    padding: 38px 0px 7px 22px;
  }
  .menu {
    margin: 7px 27px 0 0;
  }
  .menu__item {
    font: 500 14px/16px 'robotomedium', arial, helvetica, sans-serif;
  }
    .main {
          margin: -29px 23px 0 0;
          padding: 18px 58% 145px 22px;
          background-size: 514px 439px;
      }
  .main__title {
    letter-spacing: 2px;
        margin: 4px 0px 39px 0px;
        font: 700 50px/65px 'pt_serifregular', arial, helvetica sans-serif;
        width: 434px;
        height: 195px;
    }
    .main__text {
      width: 367px;
      height: 43px;
      margin: 0 0 41px 0;
      letter-spacing: 0.07px;
      font: 500 18px/21px 'robotoregular', arial, helvetica, sans-serif;
    }
    .main__button {
      font: 300 14px/16px 'robotomedium', arial, helvetica, sans-serif;
      width: 190px;
      letter-spacing: 0;
      height: 17px;
      padding: 14px 3px 13px 16px;
      margin: 0;
}
}
@media (max-width: 1024px) {
  .wrapper {
    margin: -34px 0px 0 24px;
    width: auto;
}
  .header {
      padding: 32px 0px 17px 0px;
  }
  .logo {
    padding-left: 66px;
  }
  .logo__circle {
    left: 22px;
    top: 49%;
  }
  .logo__circle_color_blue {
    left: 30px;
    top: 55%;
  }
  .menu {
      margin: 6px 47px 0 0;
      letter-spacing: 0px;
  }
  .main {
    margin: -39px 0px 0px 1px;
    padding: 18px 0 135px 22px;
    background-size: 514px 439px;
    background-position: 437px 1px;
    width: auto;
}
.main__button {

  margin: -3px 0 12px -2px;
}
.elipses {
  margin: 0px 0 0 47.2%;
}
.main__text{
  margin: 0px 0 44px -2px;
      font: 300 18px/21px 'robotomedium', arial, helvetica, sans-serif;
}
}

@media (min-width: 300px) and (max-width: 1023px){
  .hamburger-menu {
    display: inline;
  }
  #menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 87%;
  width: 25px;
  height: 27px;
  cursor: pointer;
  z-index: 1;
  margin: -10px 0 0 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #0056EC;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -7px;
}
.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  left: 90%;
  padding: 18% 0 0 0;
  margin: -20% 0 0 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu__item:first-child {
  margin-top:43%;
  margin-bottom: -43%;
}
.menu__item {
  display: block;
  padding: 12.5px 0;
  text-align: center;
  color: #000;
  font:500 30px/35px 'robotomedium', arial, helvetica, sans-serif;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.menu {display: none;}
.logo__circle {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 47%;
    left: 0px;
}
.logo__circle_color_blue {
    top: 56%;
    left:8px;
}
.app {
  display: none;
}
.elipses {
  display: none;
}
.main {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
background-position: top;
 background-size: 280px 239px;
margin: -14px 26px 0px 2px;
padding:297px 0 0 0;
}
.main__title {
    letter-spacing: 1px;
    font: 700 30px/40px 'pt_serifregular', arial, helvetica sans-serif;
    width: 268px;
    height: 97px;
    text-align: center;
    margin: -36px -6px 57px 0;
}
.header {
  margin-bottom: 0;
}
.wrapper {
  margin: -32px 0px 0px 24px;
}
br {
    display: inline;
    content: ' ';
    clear:none;
}
.main__text {
    width: 247px;
    height: 57px;
    font: 400 16px/19px 'robotomedium', arial, helvetica, sans-serif;
    text-align: center;
    word-spacing: 0px;
    margin: -4px 0 44px 6px;


}
.main__button {
  letter-spacing: 0px;
      width: 178px;
      padding: 14px 20px 13px 12px;
      text-align: center;
      margin: -19px 0px 0px 0px;
  }
}
@media (min-width:1025px) and (max-width:1365px) {
* {
  margin:0;
  padding: 0;
}
.wrapper {
  margin:0 20px;
  padding: 0:
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
}
@media (min-width:1368px) and (max-width:1900px) {
* {
  margin:0;
  padding: 0;
}
.wrapper {
  margin:0 40px;
  padding: 0;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }
  .main__title{
  font-size: 56px;
  }
}
